@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&family=McLaren&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:wght@100;300;400;500;900&display=swap');

.head__background {
  background-color: #f5ba13;
  padding: 0 8rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.logo {
  font-size: 12px;
  font-style: italic;
}

.head__title {
    font-size: 1.64rem;
    color: #eee;
}

.head__title, .nav_links {
  font-family: 'McLaren', cursive;
}

.nav_links, a {
  display: flex;
  color: #eee;
  gap: 18px;
  text-decoration: none;
}

a:hover {
   border-bottom: 5px solid rgb(223, 56, 56);
}

@media (max-width: 560px) {
  .head__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
  }

  .nav_links, a {
    display: flex;
  flex-direction: column;
  }
  
}